/* * {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
} */

body {
    background-color: white;
    font-family: sans-serif;
    font-size: 40px;
    /* width: 100%; */
    /* min-height: 100vh; */
    color: white;
    /* display: flexbox; */
    /* flex-direction: row; */
}

.field {
    display: grid;
    margin-left: 150px;
    width: 600px;
    height: 600px;
    gap: 20px;
    justify-items : stretch;
    align-items: stretch;
    grid-template-columns: repeat(var(--side), 1fr);
    grid-template-rows:  repeat(var(--side), 1fr);
    align-content : center;
    justify-content: center;
}

.cell {
    background-color: rgb(0, 251, 255);
    width: 100%;
    /* display: grid; */
    border: 2px solid black;
}

.goblined {
    background-image: url(2dbd01ce16c0fa83cb67.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* .timerField {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    width: 200px;
    height:  200px;
    border: 2px solid rgb(0, 195, 255);
} */

/* .note {
    text-align: center;
} */
